.container {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 22px;
  font-family: 'Inter';
  font-weight: 400;
  font-style: regular;
  color: #808080;
  text-align: center;
  margin: 0;
}