.empty-repository {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}
.empty-repository__img {
  width: 110px;
  height: 110px;
  background-image: url('./../../assets/empty_rep.svg');
  background-position: center;
  margin: 24px 0;
  background-repeat: no-repeat;
}
