.main {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: calc(100vh - 72px); 
    padding: 28px 56px;
    gap: 85px;
}

.welcome-container, .not-found-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:  auto;
    width: 210px;
}

.welcome-container__img {
    width: 110px;
    height: 110px;
    background-image: url('./../../assets/start.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin: 24px 0;
}

.not-found__img {
    width: 110px;
    height: 110px;
    background-image: url('./../../assets/not_found_user.svg');
    background-position: center;
    margin: 24px 0;
    background-repeat: no-repeat;
}



@media (max-width: 900px) and (min-width: 320px) { 
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: start;
        width: 100%;
        height: calc(100vh - 72px); 
        padding: 28px 56px;
        gap: 85px;
    }
 }